{{ define "main" }}

{{ partial "header.html" (dict "current" "home" "context" .) }}

<div id="home">

  <div class="row clearfix">

    <div class="column two-thirds">

      <div class="row clearfix">

        <p>I'm slowly resurrecting this blog. Hoping to add more writing to my routines.</p>

        <div class="title">
          <h1> Who am I? </h1>
        </div>

        <p>Curious more than anything and slow going. Adverse to routines but I hold some. Trying to consume less and make more. Have and always will enjoy programming.</p>

      </div>

    </div>

    <div class="column third">

      <div class="title">
        <h1> Recent Blog Posts</h1>
      </div>

      <ul class="posts">
        {{ range first 10 (where site.RegularPages "Section" "posts") }}
        <li>
          <span>{{ .Date.Format "02 Jan 2006" }}</span> &raquo;
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>

    </div>

  </div>

</div>

{{ end }}
