{{- $id := index .Attributes "id" -}}
{{- if not $id -}}
    {{ errorf "Pikchr code block is missing an id at %s" .Position }}
{{- end -}}
{{- $svg := resources.Get (printf "pikchr/%s.svg" $id) -}}
{{- if not $svg -}}
    {{ errorf "Missing generated Pikchr SVG for id %q" $id }}
{{- end -}}
<details class="pikchr" id="{{ $id }}">
    <summary aria-label="Show Pikchr source">
        {{ $svg.Content | safeHTML }}
        <span class="pikchr-caption">Click to see the code</span>
    </summary>
    <pre><code>{{ .Inner }}</code></pre>
</details>
